.table {
  min-width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #000;
  border-radius: 10px;
}

.tableHeader {
  color: #fff;
  background-color: #000;
}

.table td,
.table th {
  padding: 10px;
}

.tableBody tr:nth-child(2n) {
  background-color: grey;
}
